# dotnet-sdk local folder
dotnet-sdk/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPS/
[Rr]elease/
[Rr]eleasePS/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017/2019/2022 cache/options directory
.vs/
# Best practice is to ignore personal settings
.vs/ResolveDesk/v17/

# Angular
src/ResolveDesk.UI/node_modules/
src/ResolveDesk.UI/dist/
src/ResolveDesk.UI/.angular/
.angular/
node_modules/
dist/

# SQLite databases (automatically created & seeded on start)
*.db
*.db-shm
*.db-wal
src/ResolveDesk.Services.Identity/identity.db
src/ResolveDesk.Services.TicketCore/tickets.db
identity.db
tickets.db

# OS files
.DS_Store
Thumbs.db
